p {
  color: white;
}
div.game {
  background-color: black;
  width: 640px;
  height: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.debug {
  border: 1px solid red;
}

div.arkanoid {
  width: 65px;
  height: 18px;
  background-color: deepskyblue;
  position: relative;
  top: 450px;
  left: calc(50% - 32px);
  margin: auto 3px 0;
  border-radius: 7px;
}
